.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.accordion-title{
  margin-top: 10px;
  color: var(--color-prime-blue);
  display: flex;
  align-items: center;
  margin-left: 80px;
  font-size: 26px;
  padding: 15px 2px;
}

progress {
  width: 100%;
  height: var(--progress-bar-height);
  appearance: none;
  border: none;
  border-radius: calc(var(--progress-bar-height) / 2);
  background-color: var(--color-progress-bg);
}

.accordion-title.closed-accordion{
  background-color: var(--color-progress-bg);
  border-radius: 10px;
  border: 1px solid var(--color-border-grey);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-text{
  font-size: 14px;
  opacity: 0; 
  animation: fadeInOut 5s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

@keyframes fadeInOut {
  0%, 100% { 
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
}
